* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.converter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    background-color: #a7ff83;
    font-size: 20px;
    margin: 0 auto;
}
  
  .converterlbl {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #086972;
}
  
  .converter-input {
    margin: 50px 0 10px;
    padding: 7px;
    font-size: 20px;
}
  
  .result {
    margin: 10px 0 50px;
    font-size: 26px;
    letter-spacing: 1px;
    height: 1em;
    font-weight: bold;
}
  
  .buttons button {
    width: 200px;
    margin: 0 30px;
    padding: 10px 30px;
    background-color: #086972;
    border: 2px solid black;
    border-radius: 5px;
    color: #a7ff83;
    font-size: 25px;
    transition: color s0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 10px black;
    text-transform: uppercase;
    cursor: pointer;
}
  
  .buttons button:hover {
    background-color: #17b978;
    color: #071a52;
    box-shadow: 3px 3px 10px black;
}